<%= form_for([@customer, @service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bank_name %><br>
    <%= f.select :bank_name, ['Acleda Bank', 'Maybank'], {}, :class => "selectpicker" %>
  </div>
  <div class="form-group row">
    <div class="field col-md-3">
      <%= f.label :acct_name %><br>
      <%= f.text_field :acct_name, class: "form-control" %>
    </div>
    <div class="field col-md-3">
      <%= f.label :acct_num %><br>
      <%= f.text_field :acct_num, placeholder: "0000-00000000-00", class: "form-control" %>
    </div>
    <div class="field col-md-3">
      <%= f.label :tel_bank_acct %><br>
      <%= f.text_field :tel_bank_acct, class: "form-control" %>
    </div>
    <div class="field col-md-3">
      <%= f.label :email_bank_acct %><br>
      <%= f.text_field :email_bank_acct, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="field col-md-2">
      <%= f.label :support %><br>
      <%= f.select :support, ['Standing Order', 'None Standing Order'], {}, class: "form-control" %> 
     
    </div>
    <div class="field col-md-2">
      <%= f.label :sevice %><br>
      <%= f.select :sevice, ['Fixed', 'IB', 'Fixed & IB'], {}, class: "form-control" %>
    </div>
    <div class="field col-md-8">
      <%= f.label :date_create %><br>
      <%= f.date_select :date_create, {:order => [:day, :month, :year], :start_year => 2000, :end_year => 2020}, :class => "selectpicker" %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
