<%= form_for([@customer, @service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank_name %><br>
    <%= f.select :bank_name, ['Acleda Bank', 'Maybank'], class:"selectpicker" %>
  </div>
  <div class="field">
    <%= f.label :acct_name %><br>
    <%= f.text_field :acct_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :acct_num %><br>
    <%= f.text_field :acct_num, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :tel_bank_acct %><br>
    <%= f.text_field :tel_bank_acct, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email_bank_acct %><br>
    <%= f.text_field :email_bank_acct, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :support %><br>
    <%= f.text_field :support, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :sevice %><br>
    <%= f.text_field :sevice, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :date_create %><br>
    <%= f.date_select :date_create %>
  </div><br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
