<%= form_for(@customer, :html => { multipart: true }) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :kanji_first_name %><br>
    <%= f.text_field :kanji_first_name, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :kanji_last_name %><br>
    <%= f.text_field :kanji_last_name, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :sex %><br>
    <%= f.select :sex, ['M', 'F'], class:"selectpicker"  %>
  </div>
  <div class="form-group">
    <%= f.label :tel_japan %><br>
    <%= f.text_field :tel_japan, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :email_japan %><br>
    <%= f.text_field :email_japan, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control"  %>
  </div>   
 
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :arrival_date, {:order => [:day, :month, :year], :start_year => 1920, :end_year => 2020},
      :class => "selectpicker" %>
  </div>  
  <div class="form-group">
    <%= f.label :type %><br>
    <%= f.select :customer_type, ['Come', 'Send files'], class:"selectpicker" %>
  </div>
  <div class="form-group">
    <%= f.label :Referrer %><br>
	  <%= f.collection_select( :service_id, Reference.all, :id, :first_name, { prompt: "Choose One"}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :remark %><br>
    <%= f.text_field :remark, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
