<div class = "jumbotron" >
	<h2> Customer Registration </h2>
	<p> This registration is used to record customers who want to open accounts with Ubiquitous Mekong (Cambodia), Enjoy the software!</p>
</div>

<h1>Listing Customers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sex</th>
      <th>Tel japan</th>
      <th>Email japan</th>
      <th>Address</th>
      <th>Remark</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.first_name, customer %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.sex %></td>
        <td><%= customer.tel_japan %></td>
        <td><%= customer.email_japan %></td>
        <td><%= customer.address %></td>
        <td><%= customer.remark %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path, class: "btn btn-primary" %>
