<div class = "jumbotron" >
	<h2> <%= t "website.topic" %> </h2>
	<p> <%= t "website.sub-topic" %> </p>
</div>

<h1>Listing Customers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th><%= t "label.first_name" %></th>
      <th><%= t "label.last_name" %></th>
      <th><%= t "label.sex" %></th>
      <th><%= t "label.tel_japan" %></th>
      <th><%= t "label.email_japan" %></th>
      <th><%= t "label.address" %></th>
      <th><%= t "label.remark" %></th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customers.each_with_index do |customer, i| %>
      <tr>
        <td><b><%= i+1 %></b></td>
        <td><%= link_to customer.first_name, customer %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.sex %></td>
        <td><%= customer.tel_japan %></td>
        <td><%= customer.email_japan %></td>
        <td><%= customer.address %></td>
        <td><%= customer.remark %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class = "text-center">
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older" %>
</div>
<br>

<div class="row">
  <div class="col-md-9">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New Customer', new_customer_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-3 right">
     <%= link_to 'Show References', references_path, class: "btn btn-primary" %>
     <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'All Emails', "customers/email", class: "btn btn-primary" %>
     <% end %>
  </div>
</div>

