<h1 class="text-center">Listing References</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Sex</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Company address</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @references.each_with_index do |reference, index| %>
      <tr>
        <td><b><%= index+1 %></b></td>
        <td><%= link_to reference.first_name, reference %></td>
        <td><%= reference.last_name %></td>
        <td><%= reference.sex %></td>
        <td><%= reference.tel %></td>
        <td><%= reference.email %></td>
        <td><%= reference.company_address %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
          <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col-md-10">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New Reference', new_reference_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-2 right">
    <%= link_to 'Back Home', root_path, class: "btn btn-primary" %>
  </div>
</div>