<!DOCTYPE html>
<html>
<head>
  <title>UmcCustomerRegistration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/i18n/defaults-*.min.js"></script>

</head>
<body>

<%= render 'layouts/navbar'%>
	<div class = "container">
		<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<div class = "alert alert-<%= name =="notice" ? "success" : "danger" %> alert-dismissable">
					<button type = "button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class = "sr-only">Close</span></button>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				</div>
			<% end %>
		<% end %>

		<%= yield %>
	</div>
<%= render 'layouts/footer'%>
</body>

 <script type="text/javascript">
    $('.selectpicker').selectpicker({
      });
  </script>
</html>
